page-genre-details {
    .search-ion-list {
      .item-md {
        padding-left: 0;
      }
    }
  .text-center {
    text-align: center;
  }

  .appear-player {
    .scroll-content {
      margin-bottom: 55px !important;
    }
  }

}
