page-genre-details {
    .search-ion-list {
      .item-md {
        padding-left: 0;
      }
    }

  .fixed-player {
    position: fixed;
    bottom: 4px;
    left: 0;
    width: 100%;
  }


}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css);
.wrap {
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

body, html {
  padding: 0;
  margin: 0;
  background: #455A64;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding-bottom: -50px;
  color: black;
}
body *, body *:before, body *:after, html *, html *:before, html *:after {
  box-sizing: inherit;
  transition: all 0.5s ease;
}
body a, html a {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
body a:hover, html a:hover {
  text-shadow: 1px 1px 5px #000000;
}
body .player, html .player {
  margin-top: 50px;
  width: 100%;
  height: 75px;
  background: white;
  border-bottom: 4px #ccc solid;
  position: relative;
  color: black;
  text-align: left;
  text-shadow: none;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.35);
}
body .player .album-art, html .player .album-art {
  position: absolute;
  left: 0;
  width: 75px;
  height: 100%;
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.4);
  padding: 5px;
}
body .player .album-art .cover, html .player .album-art .cover {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.25);
}
body .player .description, html .player .description {
  position: relative;
  width: 60%;
  height: 50px;
  top: 28%;
  left: 90px;
  overflow: hidden;
}
body .player .description .title, html .player .description .title {
  color: black;
  font-size: 16px;
  font-weight: 100;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .player .description .sub-title, html .player .description .sub-title {
  font-size: 12px;
  font-weight: 100;
  color: #999;
}
body .player .play-button, html .player .play-button {
  position: absolute;
  width: 55px;
  height: 55px;
  right: 10%;
  border-radius: 50%;
  top: -25px;
  background: white;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
  line-height: 57px;
  font-size: 26px;
  color: #D32F2F;
  cursor: pointer;
}
body .player .play-button .lp-background, html .player .play-button .lp-background {
  transition: all 0.35s ease;
  background: url("http://i65.tinypic.com/v5wy3b.png");
  background-size: cover;
  animation: spin 1s infinite linear;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0;
}
body .player .play-button i, html .player .play-button i {
  z-index: 100;
}
body .player .play-button .mdi-pause, html .player .play-button .mdi-pause {
  z-index: 100;
  position: absolute;
  right: 17.5px;
  top: 17.4px;
  color: white;
  font-size: 20px;
}
body .player .play-button:hover, html .player .play-button:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}
body .player .time-indicator, html .player .time-indicator {
  position: absolute;
  right: 20px;
  top: 60%;
  font-size: 13px;
  font-weight: 100;
}
body .player .time-indicator i, html .player .time-indicator i {
  color: #D32F2F;
}
body .player .progress-bar, html .player .progress-bar {
  width: 100%;
  bottom: -4px;
  position: absolute;
  cursor: pointer;
  height: 4px;
  margin: 0;
  opacity: 1;
  background: #dedede;
}
body .player .progress-bar .runner, html .player .progress-bar .runner {
  height: 4px;
  background: #F44336;
}
body .player .visualizer, html .player .visualizer {
  position: absolute;
  top: 25%;
  left: 37.5%;
  width: 0%;
  height: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
body .player .visualizer div, html .player .visualizer div {
  width: 2px;
  background: #F44336;
  float: left;
  height: 0%;
  margin-right: 5px;
  transition: all 0.1s ease;
}
body .player, html .player {
  border-bottom: none;
}
body .player .play-button .mdi-pause, html .player .play-button .mdi-pause {
  opacity: 0;
}
body .player.playing .play-button, html .player.playing .play-button {
  background: transparent;
}
body .player.playing .play-button .mdi-play, html .player.playing .play-button .mdi-play {
  opacity: 0;
}
body .player.playing .play-button .lp-background, 
html .player.playing .play-button .lp-background {
  opacity: 1;
}
body .player.playing .play-button .mdi-pause,
html .player.playing .play-button .mdi-pause {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
