// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.thumb-img {
  position: relative;
  button {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    ion-icon {
      margin-right: 0 !important;
    }
  }
  .button-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


.search-ion-list {
  .play-button-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      width: 25px;
      height: 25px;
      margin: 0;
      text-align: center;
      border-radius: 50%;
      .icon {
        position: relative;
        left: 1px;
      }
    }
  }
  ion-note {
    font-size: 12px;
    .icon {
      vertical-align: text-bottom;
    }
  }
  .item-inner .label {
    margin: 6px 8px 6px 0;
  }
  .item-block {
    padding-left: 0;
    ion-thumbnail {
      min-width: 45px;
      min-height: 45px;
      position: relative;
      img {
        width: 45px;
        height: 45px;
      }
    }
    .item-inner {
      background-image: none !important;
      padding-right: 0 !important;
    }
  }
}
