player {
	.range {
		position: absolute;
		width: 100%;
		z-index: 99;
		padding: 0 !important;
		bottom: -4px;
		left: 0;
		.range-slider {
			height: 4px;
			.range-bar {
				height: 4px;
				top: 0;
			}
		}
		.range-knob-handle {
			display: none;
		}

	}
  .footer {
    &:before {
      display: none;
    }
  }

  .fixed-player {
    position: relative;
    bottom: 4px;
  }

  .wrap {
    margin: 0 auto;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .player {
    margin-top: 50px;
    width: 100%;
    height: 75px;
    background: white;
    border-bottom: 4px #ccc solid;
    position: relative;
    color: black;
    text-align: left;
    text-shadow: none;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.35);
  }
  .player .album-art {
    position: absolute;
    left: 0;
    width: 75px;
    height: 100%;
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.4);
    padding: 5px;
  }
   .player .album-art .cover {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.25);
  }
  .player .description {
    position: relative;
    width: 60%;
    height: 50px;
    top: 28%;
    left: 90px;
    overflow: hidden;
  }
  .player .description .title {
    color: black;
    font-size: 16px;
    font-weight: 100;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .player .description .sub-title {
    font-size: 12px;
    font-weight: 100;
    color: #999;
  }
  .player .play-button {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 10%;
    border-radius: 50%;
    top: -25px;
    background: white;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.35);
    text-align: center;
    line-height: 57px;
    font-size: 26px;
    color: #D32F2F;
    cursor: pointer;
  }
  .player .play-button .lp-background {
    //transition: all 0.35s ease;
    background: url("http://i65.tinypic.com/v5wy3b.png");
    background-size: cover;
    animation: spin 1s infinite linear;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0;
  }
  .player .play-button ion-icon {
    z-index: 100;
  }
  .player .play-button .mdi-pause {
    z-index: 100;
    position: absolute;
    right: 21px;
    top: 17px;
    color: white;
    font-size: 20px;
  }
  .player .play-button .mdi-play {
    position: absolute;
    right: 18px;
    top: 15px;
    font-size: 24px;
  }
  .player .play-button:hover {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .player .time-indicator {
    position: absolute;
    right: 20px;
    top: 60%;
    font-size: 13px;
    font-weight: 100;
  }
  .player .time-indicator ion-icon {
    color: #D32F2F;
  }
  .player .progress-bar {
    width: 100%;
    bottom: -4px;
    position: absolute;
    cursor: pointer;
    height: 4px;
    margin: 0;
    opacity: 1;
    background: #dedede;
  }
  .player .progress-bar .runner {
    height: 4px;
    background: #F44336;
  }
  .player {
    border-bottom: none;
  }
  .player .play-button .mdi-pause {
    opacity: 0;
  }
  .player.playing .play-button {
    background: transparent;
  }
  .player.playing .play-button .mdi-play {
    opacity: 0;
  }
  .player.playing .play-button .lp-background {
    opacity: 1;
  }
  .player.playing .play-button .mdi-pause {
    opacity: 1;
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
