
  <ion-footer *ngIf="playerIsVisible">
	  <div class="fixed-player">
	    <div class="wrap">
	      <div class="player" [ngClass]="{'playing':playing}" (click)="openGeneralPlayer()">
	        <div class="album-art">
	          <img class="cover" [src]="track.artwork_url || track.user.avatar_url">
	        </div>
	        <div>
	        	<ion-range min="0" max="{{track.duration}}"
	        	[(ngModel)]="currentTime"
	        	color="danger" (ionChange)="onRangeChange($event)">
	        	</ion-range>
	        </div>
	        <div class="description">
	          <div class="title">{{track.title}}</div>
	          <div class="sub-title">by {{track.user.username}}</div>
	        </div>
	        <div class="play-button" (click)="togglePlayer()">
	          <div class="lp-background"></div>
            <ion-icon class="mdi-play" name="play"></ion-icon>
            <ion-icon class="mdi-pause" name="pause"></ion-icon>
	        </div>
	        <div class="time-indicator">
	          <i class="mdi mdi-clock"></i>
	          <span class="time">{{currentTime | minsec}} - {{track.duration | minsec}}</span>
	        </div>
	      </div>
	    </div>
	  </div>
  </ion-footer>
